{% extends "layout.html" %}
{% block content %}
    
        <div class="col-sm-8 text-left"> 
      <h3>Introduction</h3>
      <p>This page assumes the basic knowledge of Permutations and Combinations.  See the 
      <a href="/discussion/">Discussion page</a>
      for additional information.  
      
      <hr>
      <h3>Calculators</h3>
      <p>Three online calculators are available (see Menu) for enumerating and generating Permutations and Combinations.
          </p>
    </div>
    
{% endblock content %}
